.kb-nav-hint {
    position: absolute;
    padding: 2px 4px;
    background: #ffd700;
    color: #000;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #000;
    z-index: 2147483647;
    pointer-events: none;
    line-height: normal;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}

#kb-nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2147483647;
}
.kb-nav-hint-filtered {
    display: none;
}

.kb-nav-hint-match {
    color: #ff0000;
    text-decoration: underline;
}
